.pins {
    width: 960px;
    margin: auto;
    margin-top: 76px;
    display: flex;
}

.pinsLeftWrapper {
    width: 112px;
    height: 400px;
    margin-right: 15px;
}

.pinsMiddleWrapper {
    width: 570px;
    height: 800px;
    /*background-color: #fff;*/
    margin-right: 15px;
}

.pinsRightWrapper {
    width: 248px;
}

.myCode{
    width: 100%;
    margin: 16px 0;
}